@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,900;1,200;1,600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Reset

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
